<div class="container">
  <h1>Add Restaurant</h1>

  <h1>List of Restaurants</h1>

  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4">
        <div class="card mb-3" style="width: 18rem;">
          <img src="/assets/food.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= restaurant.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
